<div class="auth-container">
  <div class="row auth-main">
    <!-- Columna izquierda para imagen (solo visible en desktop) -->
    <div class="col-sm-6 px-0 d-none d-sm-block ml-5">
      <div class="left-img" style="background-image: url();"></div>
    </div>
    
    <!-- Columna derecha con el formulario -->
    <div class="col-sm-6 auth-form-section">
      <div class="form-section">
        <div class="auth-wrapper">
          <h6 class="welcome-msg">Bienvenidos al Gestor de proyectos</h6>
          <h2 class="login-title">Iniciar sesión</h2>
          
          <!-- Formulario reactivo -->
          <form class="validate-form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
            <!-- Campo email -->
            <mat-form-field appearance="outline">
              <mat-label>Correo electrónico</mat-label>
              <input matInput formControlName="username" />
              <mat-icon matSuffix>face</mat-icon>
              <!-- Validación -->
              @if (authForm.get('username')?.hasError('required')) {
                <mat-error>El correo electrónico es requerido</mat-error>
              }
            </mat-form-field>
            
            <!-- Campo contraseña -->
            <mat-form-field appearance="outline">
              <mat-label>Contraseña</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
              <!-- Botón para mostrar/ocultar contraseña -->
              <a class="show-pwd-icon" (click)="hide = !hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </a>
              <!-- Validación -->
              @if (authForm.get('password')?.hasError('required')) {
                <mat-error>La contraseña es requerida</mat-error>
              }
            </mat-form-field>
            
            <!-- Mensaje de error -->
            @if (error) {
              <div class="alert alert-danger">{{error}}</div>
            }
            
            <!-- Botón de submit -->
            <button mat-flat-button color="accent" [disabled]="!authForm.valid">
              Iniciar sesión
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>