<div class="auth-container">
  <div class="row auth-main">
    <div class="col-sm-12 auth-form-section">
      <div class="form-section">
        <div class="auth-wrapper">
          <form>
            <span class="error-header p-b-45">404</span> <!-- Muestra el código de error -->
            <span class="error-subheader p-b-5">
              No tienes permiso para ver este módulo <!-- Mensaje principal -->
            </span>
            <span class="error-subheader2 p-b-5">
              Solo para usuarios con rol de Administrador <!-- Detalle del error -->
            </span>
            <div class="container-auth-form-btn mt-5">
              <button mat-flat-button color="primary" class="auth-form-btn" 
                      type="submit" (click)="redirectHome()">
                Volver al inicio <!-- Botón para redirigir al dashboard -->
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>