<!-- Contenedor principal de la sección de creación de usuarios -->
<div class="col-lg-12 col-md-12 col-sm-12">

    <!-- Título del formulario dentro de un diálogo modal -->
    <h2 mat-dialog-title>Creación de usuarios</h2>

    <!-- Contenedor del contenido principal del diálogo -->
    <div mat-dialog-content>

      <!-- Formulario de creación de usuarios con Angular Reactive Forms -->
      <form [formGroup]="formCreateUser">

        <!-- Sección que contiene los campos del formulario -->
        <div class="col-lg-12 col-md-12 col-sm-12 custom-margin mt-4">

          <!-- Fila con campos para nombre y correo electrónico -->
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="nombre">
              </mat-form-field>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Correo electrónico</mat-label>
                <input matInput formControlName="email">
              </mat-form-field>
            </div>
          </div>

          <!-- Fila con campos de contraseña y confirmación de contraseña -->
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input matInput formControlName="password" type="password">
              </mat-form-field>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Confirmar contraseña</mat-label>
                <input matInput formControlName="confirmPassword" type="password">
                <!-- Muestra un mensaje de error si las contraseñas no coinciden -->
                @if (formCreateUser.get('confirmPassword')?.hasError('invalid')) {
                  <mat-error>
                    Las contraseñas no coinciden.
                  </mat-error>
                }
              </mat-form-field>
            </div>
          </div>

          <!-- Campo para seleccionar el rol del usuario -->
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Rol</mat-label>
                <mat-select formControlName="rol_id" (selectionChange)="onChangeRole($event)">
                  <mat-option value="">Seleccionar</mat-option>
                  <mat-option value="1">Administrador</mat-option>
                  <mat-option value="2">Usuario</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <!-- Campo de selección de administrador, visible solo cuando es necesario -->
          <div class="col-lg-6 col-md-6 col-sm-6" *ngIf="showFieldAdministrator">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Administrador</mat-label>
              <mat-select formControlName="administrador_id">
                <mat-option value="">Seleccionar</mat-option>
                @for (item of administratorsValue; track $index) {
                  <mat-option [value]="item.id">{{ item.nombre }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>

        </div>
      </form>

    </div>

    <!-- Sección de acciones del diálogo, con botones para cancelar y crear el usuario -->
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancelar</button>
        <button mat-button cdkFocusInitial [disabled]="formCreateUser.invalid" (click)="onSubmit()">Crear</button>
    </mat-dialog-actions>      
</div>

